page-fat-loss-keep-gain-calcu {
  .head_item{
    font-style: italic;
    font-weight:bold;
    text-align: center;
    color: #fff;

  }

  .content_background{

    background-color: black;

  }
  .card-background-page {
        border-radius: 25px;
      ion-card {
        position: relative;
        text-align: center;
      }
    }
    .btn1{
        border-radius: 25px;
    }
}
