
ion-item{

  opacity: 0.85;
  color: #fff;
}
.sidemenu {
  background-image: url('/assets/imgs/b6.jpg');
  background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;

}

#content_background{
  background-image: url('/assets/imgs/back2.jpg');
  background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;


}
ion-content {
  background-image: url('/assets/imgs/b7.jpg');
  background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;

}
